*.eps
*.txt
*.o
*~
*.sty
*.gz
#*
Flux/flux
Flux/fFile
Flux/fFileIndex
Flux/gFile
Flux/gFileIndex
Flux/select.py
Neoclassical/neoclassical
Neoclassical/nFile
Neoclassical/nFileIndex
Neoclassical/pFile
Neoclassical/pFileIndex
Neoclassical/select.py
Phase/phase
Phase/lFile
Phase/lFileIndex
Phase/uFile
Phase/uFileIndex
Phase/sFile
Phase/select.py
IslandDynamics/island
gitadd
