*.dvi
*.ps
*.aux
*.log
*.eps
*.sty
*.o
*.mod
*.nc
*~
*.gz
#*
*.nc
.DS_Store
*.txt
*.fig
*.fig.bak
*.doctree
*.pickle
*.sh
*.bib
*.bat
Flux/flux
Flux/Interface.txt
Flux/Inputs/gFile
Flux/Inputs/gFiles
Flux/Outputs/fFile
Flux/Outputs/fFiles
Neoclassical/neoclassical
Neoclassical/Inputs/pFile
Neoclassical/Inputs/pFiles
Neoclassical/Inputs/fFile
Neoclassical/Inputs/cFile
Neoclassical/Inputs/cFiles
Neoclassical/Outputs/nFile
Neoclassical/Outputs/nFiles
Phase/phase
Phase/Inputs/fFile
Phase/Inputs/lFile
Phase/Inputs/lFiles
Phase/Inputs/uFile
Phase/Inputs/uFiles
Phase/Inputs/mFile
Phase/Inputs/mFiles
Phase/Inputs/nFile
Phase/Outputs/sFile
Rescale/rescale
Rescale/Inputs/gFile
Rescale/Inputs/pFile
Rescale/Inputs/cFile
Rescale/Outputs/gFile
Rescale/Outputs/pFile
Rescale/Outputs/cFile
Sphinx/_build
Sphinx/_static
TestData/DIIID145380.2000.4500/cFile
TestData/DIIID145380.2000.4500/cFiles
TestData/DIIID145380.2000.4500/gFiles
TestData/DIIID145380.2000.4500/lFiles
TestData/DIIID145380.2000.4500/pFiles
TestData/DIIID145380.2000.4500/uFiles
TestData/DIIID145380.3400/cFile
TestData/DIIID145380.3400/cFile.TRANSP
TestData/DIIID145380.3400/gFile
TestData/DIIID145380.3400/lFile
TestData/DIIID145380.3400/pFile
TestData/DIIID145380.3400/uFile
TestData/KSTAR18594.6450/cFile
TestData/KSTAR18594.6450/gFile
TestData/KSTAR18594.6450/lFile
TestData/KSTAR18594.6450/mFile
TestData/KSTAR18594.6450/pFile
TestData/KSTAR18594.6450/uFile
TestData/NSTX127317.00400/cFile
TestData/NSTX127317.00400/gFile
TestData/NSTX127317.00400/lFile
TestData/NSTX127317.00400/pFile