*.dvi
*.ps
*.aux
*.log
*.eps
*.sty
*.o
*.mod
*~
*.sty
*.gz
#*
*.nc
.DS_Store
*.txt
*.fig
*.fig.bak
Flux/flux
Flux/Interface.txt
Flux/Inputs/gFile
Flux/Inputs/gFiles
Flux/Outputs/fFile
Flux/Outputs/fFiles
Flux/Source/Test/test
Neoclassical/neoclassical
Neoclassical/Inputs/pFile
Neoclassical/Inputs/pFiles
Neoclassical/Inputs/fFile
Neoclassical/Inputs/cFile
Neoclassical/Inputs/cFiles
Neoclassical/Outputs/nFile
Neoclassical/Outputs/nFiles
Phase-1.x/phase
Phase-1.x/Inputs/fFile
Phase-1.x/Inputs/lFile
Phase-1.x/Inputs/lFiles
Phase-1.x/Inputs/uFile
Phase-1.x/Inputs/uFiles
Phase-1.x/Inputs/mFile
Phase-1.x/Inputs/mFiles
Phase-1.x/Inputs/nFile
Phase-1.x/Outputs/sFile
Phase/phase
Phase/Inputs/fFile
Phase/Inputs/lFile
Phase/Inputs/lFiles
Phase/Inputs/uFile
Phase/Inputs/uFiles
Phase/Inputs/mFile
Phase/Inputs/mFiles
Phase/Inputs/nFile
Phase/Outputs/sFile
IslandDynamics/island
Rescale/rescale
Rescale/Inputs/gFile
Rescale/Inputs/q95
Rescale/Outputs/gFile
WindowFind/window
fFileGenerate/ffile

